@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<style>

    .sub-container {
        /*border: 4px solid black;*/
    }

    .cards-container {
        /*border: 2px solid red;*/
        row-gap: 1rem;
        height: 30%;
    }

    .card {
        /*border: 2px solid green;*/
        /*height: 100%;
        width: 100%;*/
    }

    .card-image-container {
        /* border: 2px solid blue;*/
        height: auto;
        width: 40%;
    }

    .card-img { /*OK LAL IMAGE*/
        /*        height: 100%;
        width: 100%;*/
    }

    .card-title {
        font-weight: bold;
    }

    img {
        height: 50%;
        width: 50%;
    }

    button {
        border-radius: 6px;
        padding: 0.2rem 0.8rem;
        font-size: 18px;
        border: none;
        margin-bottom: 1rem;
        cursor: pointer;
    }
</style>

@model ElectoralList

@{
    <div class="d-flex">
        <h4 class="flex-shrink-1" style="margin-left:10px;">@Model.Name</h4>
    </div>
    <div class="cards-container d-flex flex-column">
        @* Red *@
        @foreach (var cand in Model.Candidates)
        {
            //Here starts the card (We have to divide it into 2 parts)
            <div class="card flex-row">
                @* Green *@
                <div class="card-header card-image-container w-20">
                    @* Blue *@
                    <img src="~/images/@cand.ImageURL" class="card-img h-100" />
                </div>

                @* Body *@
                <div class="card-body w-40">
                    <h5 class="card-title">@cand.Name</h5>
                    <p class="card-text">Short description of the candidate Short description of the candidate Short description of the candidate Short description of the candidate Short description of the candidate Short description of the candidate Short description of the candidate Short description of the candidate Short description of the candidate</p>
                </div>

                @* Footer *@
                @* If Voting *@
                <form asp-action="CandidatesVote" method="post" class="d-flex me-0">
                    <div class="card-footer d-flex align-self-end bg-white border-0">
                        <input type="text" hidden name="candId" value="@cand.Id" />
                        <input type="text" hidden name="listId" value="@Model.Id" />
                        <button type="submit" class="btn-primary">Vote</button>
                    </div>
                </form>


            </div>
        }
    </div>
    @*</div>*@
}
