@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<style>

    .sub-container {
        /*border: 4px solid black;*/
    }

    .cards-container {
        /*border: 2px solid red;*/
        height: 30%;
    }

    .card {
        /*border: 2px solid green;*/
        /*height: 100%;
        width: 100%;*/
    }

    .card-image-container {
       /* border: 2px solid blue;*/
        height: auto;
        width: 40%;
    }

    .card-img { /*OK LAL IMAGE*/ 
/*        height: 100%;
        width: 100%;*/
    }

    .card-title {
        font-weight: bold;
    }

    img {
        height: 50%;
        width: 50%;
    }
</style>

@model List<ElectoralList>

<div class="container">
    <div class="d-flex flex-column sub-container"> @* Black *@
        @foreach(var list in Model) 
        { 
            @*<div class="d-flex flex-column">*@
            <div class="d-flex">
                <h4 class="flex-shrink-1" style="margin-left:10px;">@list.Name</h4>
            </div>
            <div class="cards-container"> @* Red *@
                        @foreach (var cand in list.Candidates)
                        {
                            //Here starts the card (We have to divide it into 2 parts)
                            <div class="card flex-row"> @* Green *@
                                <div class="card-header card-image-container w-20"> @* Blue *@
                                    <img src="~/images/@cand.ImageURL" class="card-img h-100" />
                                </div>

                                @* Body *@
                            <div class="card-body w-40">
                                @if (cand.Status == Status.Winner)
                                {
                                    <h5 class="card-title">@cand.Name (Winner)</h5>
                                }
                                else
                                {
                                    <h5 class="card-title">@cand.Name</h5>
                                }
                                <p class="card-text">Short description of the candidate Short description of the candidate Short description of the candidate Short description of the candidate Short description of the candidate Short description of the candidate Short description of the candidate Short description of the candidate Short description of the candidate</p>
                            </div>

                                @* Footer *@
                                 @*If Results *@
                                <div class="card-footer d-flex align-self-end  bg-white border-left">
                                    <b>Votes:</b> @cand.NbOfVotes
                                </div>
                            </div>
                        }
                    </div>
            @*</div>*@
        }
    </div>
</div>
